.figure-item {
    background: #f2f2f2;
    text-align: center;
  }
  .figure-item img {
    width: 100%;
    height: auto;
    min-height: 150px;
  }
.launch-item {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    font-weight: 500;
  }
  .launch-name {
    color: #474f98;
    margin: 15px 0;
    font-size: 15px;
    font-weight: bold;
  }
  
  @media screen and (min-width: 701px) {
    .launch-item {
      padding: 20px;
    }
    .launch-name {
      font-size: 15px;
    }
  }
  .launch-list {
    display: grid;
    grid-gap: 25px;
  }
  
  @media screen and (min-width: 1024px) {
    .launch-list {
      grid-template-columns: repeat(4, calc(25% - 7.5px));
      grid-gap: 10px;
    }
  }
  
  @media screen and (min-width: 701px) and (max-width: 1023px) {
    .launch-list {
      grid-template-columns: repeat(2, calc(50% - 5px));
      grid-gap: 10px;
    }
  }
  .launch-detail {
    display: flex;
    align-content: center;
    margin-bottom: 2px;
    font-weight: bold;
  }
  .launch-detail.type-list {
    display: block;
    margin-bottom: 10px;
  }
  .detail-label {
    font-size: 20px;
  }
  .type-list .detail-label {
    font-size: 22px;
  }
  .detail-value {
    color: #474f98;
    margin-left: 5px;
    font-size: 20px;
  }
  .type-list .detail-value {
    margin-left: 30px;
    font-size: 22px;
  }
  
  
  @media screen and (min-width: 701px) {
    .detail-label,.detail-value {
      font-size: 16px;
    }
    .type-list .detail-label,.type-list .detail-value {
      font-size: 18px
    }
  }