
  .spacex-flight-wrapper {
    display: grid;
    grid-gap: 25px;
    font-size: 22px;
  }
  
  @media screen and (min-width: 1024px) { //document should be greater that 1024px
    .spacex-flight-wrapper {
      grid-template-columns: repeat(4, calc(25% - 7.5px)); // creating 4 columns with repeated pattern of  calc(25% -7.5px)// 25% with gutter 7.5px
      grid-gap: 10px;
      font-size: 22px;
    }
  }
  
  @media screen and (min-width: 701px) and (max-width: 1023px) {
    .spacex-flight-wrapper {
      grid-template-columns: repeat(2, calc(50% - 5px));
      grid-gap: 10px;
      font-size: 22px;
    }
  }
  .spacex-flight-wrapper__alert-msg{
    grid-column: 1/5; // there are no five columns then how its stretching from 1 -> 5 ?
    text-align: center;
  }
  .sub-msg{
    color: grey;
    font-size: 20px;
  }